body{
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background: url(img/applebsckground.png);
    background-repeat: no-repeat;
}
header{
    background: white;
}
.logo{
    font-family: Josefin Sans;
    font-size: 27px;
    color: #575757;
    display: inline-block;
    margin-left: 200px;
    margin-top: 20px;
}
.menu_header{
    display: inline-block;
    margin-left: 500px;
    margin-top: 20px;
}
.list_header{
    display: inline-block;
    list-style-type: none;
    display: inline-block;
}
.link_header{
    font-family: Josefin Sans;
    color: #3B4045;
    text-decoration: none;
    margin-left: 20px;
}
.first_list{
    margin-top: 80px;
}
.first_clock{
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-left: 160px;
}
.first_info{
    display: inline-block;
}
.caption_header{
    width: 500px;
    height: 300px;
    color: #3B4045;
    font-family: Josefin Sans;
}
.text_haeder{
    color: #3B4045;
    padding: -20px -40px;
    font-family: Josefin Sans;
    
}
.header_submit{
    color: white;
    font-family:Josefin Sans;
    font-size: 20px; 
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    background: #FCB34E;
    padding: 11px 30px;
    border: 1px solid #FCB34E;
    border-radius: 20px;
    margin-top: 30px;
}
.first section{

}
.first_caption{
    font-family: Josefin Sans;
    color: #3B4045;
    text-align: center;
    font-size: 45px;
}
.left_block{
    display: inline-block;
}
.block_info{
    list-style-type: none;
}
.list_child{

}
.info_child{
    list-style-type: none;
}
.second_clock{
    width: 500px;
    height: 500px;
}
.right_block{
    display: inline-block;
}
.third_clock{
    width: 500px;
    height: 500px;
}
.second_info{
    display: inline-block;
}
.second_caption{

}
.second_text{

}
.third section{

}
.third_list{

}
.third_info{

}
.third_clock{
    width: 400px;
    height: 400px;
}
.third_caption{

}
.third_text{

}
.third_info{

}
.third_block{

}
.third_child{

}
.third_img{
    width: 500px;
    height: 500px;
}
.third_images{
    width: 400px;
    height: 400px;
}
.fourth section{

}
.clock_list{
    display: inline block;
}
.clock_icon{
    display: inline-block;
    list-style-type: none;
    
}
.apple_img{
    width: 300px;
    height: 300px;
    padding: none;
}
fifth_section{

}
.fifth{

}
.sixth section{

}
.sixth_block{

}
.sixth_icon{

}
.sixth_text{

}
.sixth_photo{

}
.sixth_caption{

}
.sixth_info{

}
.sixth_submit{

}
.sixth_link{

}
footer{

}
.footer_menu{

}
.footer_list{

}
.footer_link{

}
.copyright{

}

